.form {
    border-radius: 5px;
    background-color: papayawhip;
    padding: 20px;
    display: table-cell;
    text-align: center;
}

.button {
    background-color: darksalmon;
    font-size: 30px;
    border-radius: 6px;
    color: black;
    padding: 10px;
    text-align: center;
    margin: 10px 20px;
}


body {
    background-color : dimgray;
    margin: 300px 700px;
    padding: 0;

}

input{
    font-size: 30px;
    text-align: center;
}

label{
    font-size: 25px;
}


output{
    font-size: 30px;
    text-align: center;
}